@import './01.css';

body {
  /* Page background color */
  background-color: var(--gray-1);

  /* Page default font */
  color: var(--blue-1);
  font-family: var(--font-family);
}

/* Text headers */
h1 {
  color: var(--theme-0);
  font-size: var(--font-size-large);
}
h2 {
  color: var(--theme-0);
  font-size: var(--font-size-large);
  margin-bottom: 20px;
}
h3 {
  color: var(--theme-1);
  font-size: var(--font-size-medium);
  margin-bottom: 20px;
}

/* Page top horizontal bar */
.main_header {
  font-size: var(--font-size-large);
  background: var(--blue-0);
  color: var(--white-0);
  text-align: center;
  padding-top: 20px;
  padding-bottom: 40px;
}

.header_title {
  width: 20%;
  float: left;
}

/* Text directly below the top bar; timestamp */
.time_range {
  width: 60%;
  float: left;
}

.metric_selector {
  font-size: var(--font-size-medium);
  width: 20%;
  float: left;
}

/* Space containing all the elements, as opposed to the unused space on the left and right side */
.main_container{
  text-align: center;
  background-color: var(--white-0);
  padding: 10px;
}

/* time series view header formatting */
.time_series_header_label {
  text-align: right;
  padding-left: 20px;
}

.time_series_header_value {
  text-align: left;
  padding-left: 20px;
}
