@import './01.css';

body {
  /* Page background color */
  background-color: var(--gray-1);

  /* Page default font */
  color: var(--blue-1);
  font-family: var(--font-family);
}

/* Text headers */
h1 {
  color: var(--theme-0);
  font-size: var(--font-size-large);
}
h2 {
  color: var(--theme-0);
  font-size: var(--font-size-large);
  margin-bottom: 20px;
}
h3 {
  color: var(--theme-1);
  font-size: var(--font-size-medium);
  margin-bottom: 20px;
}

/* Page top horizontal bar */
.main_header { 
  display: flex;
  align-items: center; /* vertical align */
  font-size: var(--font-size-large);
  background: var(--blue-0);
  color: var(--white-0);
  padding-left: 20px;
  padding-top: 5px;
  padding-right: 20px;
  padding-bottom: 5px;
}

.main_header div {
  margin-left: 5px;
  margin-right: 5px;
}

.header_title {
  flex: 1;
}

.metric_selector {
  flex: 1;
  font-size: var(--font-size-medium);
  min-width: 190px; /* ensure the "Packet Loss [%]" fully displays */
}

.auto_refresh {
  flex: 1;
}

.auto_refresh input {
  margin-right: 5px; /* add space between checkbox and label */
}

.time_range {
  flex: 4;
}

/* Space containing all the elements */
.main_container{
  text-align: center;
  background-color: var(--white-0);
  padding: 10px;
}

/* time series view header formatting */
.time_series_header_label {
  text-align: right;
  padding-left: 20px;
}

.time_series_header_value {
  text-align: left;
  padding-left: 20px;
}
