@import './01.css';

/* Metric selector */
.Select-control{
  cursor: pointer;
  border-color: var(--theme-3);
}
.select_container {
  width: 160px;
  text-align: left;
}
.select_label{
  line-height: 20px;
}
.Select-menu-outer{
  cursor: pointer;
  border-color : var(--theme-3);
}
.VirtualizedSelectOption{
  color: var(--theme-1);
}
.VirtualizedSelectOption:hover {
  color: var(--theme-0);
  background: var(--blue-4);
}
.VirtualizedSelectSelectedOption{
  color: var(--theme-0);
  font-weight: normal;
}
.VirtualizedSelectFocusedOption {
  color: var(--theme-0);
  background: var(--blue-4);
  font-weight: normal;
}

/* Data timestamp label (matrix view) */
.header-timestamp{
  margin-left: 10px;
}