@import './01.css';

.dash-graph{
  transition: height 0.3s ease-in-out;
  min-height: 60px;
}
.chart__default {
  display: flex;
  align-content: center;
  justify-content: center;
}
body .annotation-text,
.js-plotly-plot .plotly .user-select-none {
  font-family: var(--font-family);
  color: var(--text-color);
  font-weight: normal;
}
body .plotly-notifier  {
  max-width: 450px;
  display: inline-block;
}

body .plotly-notifier .notifier-note {
  background: var(--white-0);
  border-radius: 10px;
  border: 1px solid var(--blue-0);
  color: var(--blue-0);
  padding: 14px 30px;
  transform: translateX(-30px);
  font-size: var(--font-size-normal);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  max-width: 450px;
  display: inline-block;

}
body .plotly-notifier .notifier-close {
  color: var(--blue-0);
}