@import './01.css';

/* Legend explaining matrix cell colors */
.chart_legend{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-small);
  color: var(--theme-1);
}
.chart_legend__label{
  margin: 0 5px 0 0;
}

.chart_legend__cell {
  width: 30px;
  height: 16px;
  border-radius: 4px;
  display: inline-block;
}

.chart_legend__separator {
  width: 30px;
}