.a-data {
  text-decoration: none;
  color: inherit;
}

.td-data {
  font-size: medium;
}

.td-diagonal {
  background-color:  white
}

.td-from-agent {
  font-weight: bold;
  background-color: powderblue;
  text-align: left;
}

.td-to-agent {
  font-weight: bold;
  background-color: powderblue;
  text-align: left;
  min-width: 18px;
}

.tr-connection-matrix {
  height: 100%;
}

.connection-matrix {
  margin-left: auto;
  margin-right: auto;
  height: 1px; /* this is to make cell height calculation actually work */
}

.scrollbox {
  overflow-x: auto;
  overflow-y: auto;
  width:100%;
  height:70vh;
}
