:root {
  --matrix-border-color: white;
  --matrix-agent-bg-color: #eeeeee;
  --matrix-diagonal-bg-color: white;
  --matrix-data-width: 150px;
}

/* Cell measurement clickable value */
.cell-measurement {
  text-decoration: none;
  color: inherit;
}

/* Cell overlay - to make cell entire area clickable */
.cell-overlay {
  width: 100%;
  height: 100%;
}

/* Cell containing measurement value */
.measurement-cell {
  font-size: medium;
  border:1px solid var(--matrix-border-color);
  border-collapse: collapse;
  text-align: center;
}

/* Cell on matrix diagonal */
.diagonal-cell {
  background-color: var(--matrix-diagonal-bg-color);
  border:1px solid var(--matrix-border-color);
  border-collapse: collapse;
  vertical-align: middle; /* for the legend */
}

/* Cell containing connection "from" agent */
.from-agent-cell {
  font-weight: normal;
  background-color: var(--matrix-agent-bg-color);
  border:1px solid var(--matrix-border-color);
  border-collapse: collapse;
  text-align: right;
  padding: 4px 4px 4px 4px;
}

/* Cell containing connection "to" agent */
.to-agent-cell {
  font-weight: normal;
  background-color: var(--matrix-agent-bg-color);
  border:1px solid var(--matrix-border-color);
  border-collapse: collapse;
  min-width: var(--matrix-data-width);
  max-width: var(--matrix-data-width);
  vertical-align: bottom;
  text-align: center;
  padding: 4px 4px 4px 4px;
}

/* Matrix row */
.connection-matrix-row {
  height: 100%;
}

/* Matrix itself */
.connection-matrix {
  border:1px solid var(--matrix-border-color);
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  height: 1px; /* this is to make cell height calculation actually work */
}

/* Scrollable container for the matrix */
.scrollbox {
  overflow-x: auto;
  overflow-y: auto;
  width:100%;
  height: 90vh;
}