<style>
    .td-diagonal {
        background-color:  white
    }
    .td-healthy {
        background-color: {{ config.cell_color_healthy }};
    }
    .td-warning {
        background-color: {{ config.cell_color_warning }};
    }
    .td-critical {
        background-color: {{ config.cell_color_critical }};
    }
    .td-nodata {
        background-color: {{ config.cell_color_nodata }};
    }
    .td-vertical {
        writing-mode: vertical-lr;
        min-width: 18px;
    }
    .td-agent {
        font-weight: bold;
        background-color: powderblue;
        text-align: left;
        white-space: nowrap;
    }
    .clickable {
        cursor: pointer;
    }
    .connection-matrix {
        margin-left: auto;
        margin-right: auto;
    }
    .scrollbox {
        overflow-x: auto;
        overflow-y: auto;
        width:100%;
        height:70vh;
    }
    table, th, td {
        border:1px solid black;
        border-collapse: collapse;
    }
</style>

<div class="scrollbox">
    <table class="connection-matrix"">
        <tbody>
            {% for row in data.rows %}
            {% set n_row = loop.index %}
            <tr>
                {% for cell in row %}
                {% set n_col = loop.index %}
                    {% if n_row == n_col %}
                    <td class="td-diagonal"></td>
                    {% elif n_row == 1 %}
                    <td class="td-agent td-vertical">
                    {% elif n_col == 1 %}
                    <td class="td-agent">
                    {% else %}
                    <td class="{{ cell.tag }}">
                    {% endif %}
                        {% if cell.tooltip != "" and cell.href != "" %}
                        <!-- cell with measurement data -->
                        <div class="clickable tooltip" onclick="(function(){ location.href = '{{ cell.href }}'; })()">
                            {{ cell.text }}
                            <span class="tooltiptext">{{ cell.tooltip }}</span>
                        </div>
                        {% else %}
                        <!-- cell with agent name or diagonal -->
                        {{ cell.text }}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>